In [1]:
import pandas as pd
import requests
import json
import matplotlib
%matplotlib inline

## Attempt to dataframe the "stations" API
# Only retreiving stations' connectors info; API set-up troublesome

In [4]:
response = requests.get("https://api.plugsurfing.com/mfund/stations")
results=response.json()
results

[{'connectors': [{'id': 8757,
    'apiIdentifier': '+49*809*010*151178',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 8758,
    'apiIdentifier': '+49*809*010*151177',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 103914,
    'apiIdentifier': '+49*809*010*151178',
    'speed': 7.4,
    'powerType': 'AC1'}],
  'utilization': 47,
  'id': 1244,
  'provider': {},
  'deletedAt': None,
  'latitude': 51.263405,
  'longitude': 6.551713},
 {'connectors': [{'id': 10934,
    'apiIdentifier': '+49*809*010*150759',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 10935,
    'apiIdentifier': '+49*809*010*150760',
    'speed': 22,
    'powerType': 'AC3'}],
  'utilization': 7,
  'id': 1318,
  'provider': {},
  'deletedAt': None,
  'latitude': 50.196799,
  'longitude': 6.82781},
 {'connectors': [{'id': 10465,
    'apiIdentifier': '+49*809*010*151307',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 10466,
    'apiIdentifier': '+49*809*010*151308',
    'speed': 22,
    'powerType': 'AC3'}],
  'utilization': 3,
  'id': 1325,
  'provider': {},
  'deletedAt': None,
  'latitude': 51.922328,
  'longitude': 7.67395},
 {'connectors': [{'id': 185134,
    'apiIdentifier': '+49*809*010*151542',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 185136,
    'apiIdentifier': '+49*809*010*151541',
    'speed': 22,
    'powerType': 'AC3'}],
  'utilization': 14,
  'id': 1332,
  'provider': {},
  'deletedAt': None,
  'latitude': 51.468056,
  'longitude': 7.270833},
 {'connectors': [{'id': 10940,
    'apiIdentifier': '+49*809*010*150703',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 10941,
    'apiIdentifier': '+49*809*010*150704',
    'speed': 22,
    'powerType': 'AC3'},
   {'id': 103830,
    'apiIdentifier': '+49*809*010*150703',
    'speed': 7.4,
    'powerType': 'AC1'}],
  'utilization': 15,
  'id': 1333,
  'provider': {},
  'deletedAt': None,
  'latitude': 51.465856,
  'longitude': 7.012906}]

In [5]:
data = pd.DataFrame(results)

In [6]:
data.head()

,connectors,utilization,id,provider,deletedAt,latitude,longitude
0,"[{'id': 8757, 'apiIdentifier': '+49*809*010*15...",47,1244,{},None,51.263405,6.551713
1,"[{'id': 10934, 'apiIdentifier': '+49*809*010*1...",7,1318,{},None,50.196799,6.827810
2,"[{'id': 10465, 'apiIdentifier': '+49*809*010*1...",3,1325,{},None,51.922328,7.673950
3,"[{'id': 185134, 'apiIdentifier': '+49*809*010*...",14,1332,{},None,51.468056,7.270833
4,"[{'id': 10940, 'apiIdentifier': '+49*809*010*1...",15,1333,{},None,51.465856,7.012906

In [7]:
connectors_into_df = pd.concat([pd.DataFrame(x) for x in data['connectors']], keys=data[:]).reset_index(level=1, drop=True).reset_index()

In [8]:
connectors_into_df

          index      id       apiIdentifier  speed powerType
0    connectors    8757  +49*809*010*151178   22.0       AC3
1    connectors    8758  +49*809*010*151177   22.0       AC3
2    connectors  103914  +49*809*010*151178    7.4       AC1
3   utilization   10934  +49*809*010*150759   22.0       AC3
4   utilization   10935  +49*809*010*150760   22.0       AC3
5            id   10465  +49*809*010*151307   22.0       AC3
6            id   10466  +49*809*010*151308   22.0       AC3
7      provider  185134  +49*809*010*151542   22.0       AC3
8      provider  185136  +49*809*010*151541   22.0       AC3
9     deletedAt   10940  +49*809*010*150703   22.0       AC3
10    deletedAt   10941  +49*809*010*150704   22.0       AC3
11    deletedAt  103830  +49*809*010*150703    7.4       AC1

In [9]:
type(connectors_into_df)

pandas.core.frame.DataFrame

In [14]:
connectors_list = connectors_into_df.values.tolist()

In [15]:
connectors_list

[['connectors', 8757, '+49*809*010*151178', 22.0, 'AC3'],
 ['connectors', 8758, '+49*809*010*151177', 22.0, 'AC3'],
 ['connectors', 103914, '+49*809*010*151178', 7.4, 'AC1'],
 ['utilization', 10934, '+49*809*010*150759', 22.0, 'AC3'],
 ['utilization', 10935, '+49*809*010*150760', 22.0, 'AC3'],
 ['id', 10465, '+49*809*010*151307', 22.0, 'AC3'],
 ['id', 10466, '+49*809*010*151308', 22.0, 'AC3'],
 ['provider', 185134, '+49*809*010*151542', 22.0, 'AC3'],
 ['provider', 185136, '+49*809*010*151541', 22.0, 'AC3'],
 ['deletedAt', 10940, '+49*809*010*150703', 22.0, 'AC3'],
 ['deletedAt', 10941, '+49*809*010*150704', 22.0, 'AC3'],
 ['deletedAt', 103830, '+49*809*010*150703', 7.4, 'AC1']]

In [25]:
json.dumps(results)

'[{"connectors": [{"id": 8757, "apiIdentifier": "+49*809*010*151178", "speed": 22, "powerType": "AC3"}, {"id": 8758, "apiIdentifier": "+49*809*010*151177", "speed": 22, "powerType": "AC3"}, {"id": 103914, "apiIdentifier": "+49*809*010*151178", "speed": 7.4, "powerType": "AC1"}], "utilization": 47, "id": 1244, "provider": {}, "deletedAt": null, "latitude": 51.263405, "longitude": 6.551713}, {"connectors": [{"id": 10934, "apiIdentifier": "+49*809*010*150759", "speed": 22, "powerType": "AC3"}, {"id": 10935, "apiIdentifier": "+49*809*010*150760", "speed": 22, "powerType": "AC3"}], "utilization": 7, "id": 1318, "provider": {}, "deletedAt": null, "latitude": 50.196799, "longitude": 6.82781}, {"connectors": [{"id": 10465, "apiIdentifier": "+49*809*010*151307", "speed": 22, "powerType": "AC3"}, {"id": 10466, "apiIdentifier": "+49*809*010*151308", "speed": 22, "powerType": "AC3"}], "utilization": 3, "id": 1325, "provider": {}, "deletedAt": null, "latitude": 51.922328, "longitude": 7.67395}, {"connectors": [{"id": 185134, "apiIdentifier": "+49*809*010*151542", "speed": 22, "powerType": "AC3"}, {"id": 185136, "apiIdentifier": "+49*809*010*151541", "speed": 22, "powerType": "AC3"}], "utilization": 14, "id": 1332, "provider": {}, "deletedAt": null, "latitude": 51.468056, "longitude": 7.270833}, {"connectors": [{"id": 10940, "apiIdentifier": "+49*809*010*150703", "speed": 22, "powerType": "AC3"}, {"id": 10941, "apiIdentifier": "+49*809*010*150704", "speed": 22, "powerType": "AC3"}, {"id": 103830, "apiIdentifier": "+49*809*010*150703", "speed": 7.4, "powerType": "AC1"}], "utilization": 15, "id": 1333, "provider": {}, "deletedAt": null, "latitude": 51.465856, "longitude": 7.012906}]'

In [26]:
type(json.dumps(results))

str

## Extracting 'vehicleUsage_df' from 'sessions' API

In [39]:
response = requests.get("https://api.plugsurfing.com/mfund/sessions")
sessions_data=response.json()
sessions_data

{'accessMedium': {'app': 16.806441912526314,
  'chargingKey': 82.98640114938688,
  'unknown': 0.20715693808681124},
 'vehicleUsage': [{'name': 'unknown', 'percentage': 23.45551137692504},
  {'name': 'Renault Kangoo', 'percentage': 0.12362591466470647},
  {'name': 'Renault ZOE', 'percentage': 8.151478701614026},
  {'name': 'Tesla Model S', 'percentage': 2.0810564801342992},
  {'name': 'Smart ED4 Forfour', 'percentage': 0.7181643019793307},
  {'name': 'Smart EQ Forfour', 'percentage': 0.09021350529586689},
  {'name': 'BMW i3', 'percentage': 2.162948704430214},
  {'name': 'Tesla Model 3', 'percentage': 4.941413292845005},
  {'name': 'Hyundai Kona', 'percentage': 0.6300987372857466},
  {'name': 'Smart ED4 Fortwo', 'percentage': 2.2692594696336896},
  {'name': 'Volkswagen e-Golf', 'percentage': 93.90682190274579},
  {'name': 'Audi A3', 'percentage': 0.5851944840885334},
  {'name': 'Citroën Berlingo', 'percentage': 1.1738893158252308},
  {'name': 'Jaguar I-PACE', 'percentage': 1.5695479301012405},
  {'name': 'Audi e-Tron', 'percentage': 1.7778902131870833},
  {'name': 'Audi Q7', 'percentage': 0.1843251250180984},
  {'name': 'Mitsubishi Outlander', 'percentage': 0.9522536670119284},
  {'name': 'Volkswagen Golf', 'percentage': 0.5900074621047592},
  {'name': 'Nissan e-NV200', 'percentage': 0.4460556650740085},
  {'name': 'Kia e-Niro', 'percentage': 0.4298824678723774},
  {'name': 'Tesla Model X', 'percentage': 0.7067245294382853},
  {'name': 'BMW 225xe', 'percentage': 0.7581832559279184},
  {'name': 'Mercedes-Benz C Class', 'percentage': 0.8951741343401606},
  {'name': 'Volvo V60', 'percentage': 0.7083430786193994},
  {'name': 'Honda e', 'percentage': 0.004454987915845278},
  {'name': 'BMW 330e', 'percentage': 0.5407241582857207},
  {'name': 'Fiat 500e', 'percentage': 0.05345985499014335},
  {'name': 'Smart EQ Fortwo', 'percentage': 0.6860681390401726},
  {'name': 'Nissan Leaf 40kWh / 62kWh', 'percentage': 1.110015926581799},
  {'name': 'Mercedes-Benz GLC', 'percentage': 0.21049817902368942},
  {'name': 'Mercedes-Benz E Class', 'percentage': 1.3504182119906003},
  {'name': 'Nissan Leaf 24kWh / 30kWh', 'percentage': 1.4927196384979817},
  {'name': 'Opel Ampera', 'percentage': 0.4162629333867932},
  {'name': 'Chevrolet Volt', 'percentage': 0.011694343279093855},
  {'name': 'Volkswagen Passat', 'percentage': 0.9134395847951262},
  {'name': 'BMW X3', 'percentage': 0.1687326673126399},
  {'name': 'Hyundai IONIQ', 'percentage': 1.8044574179092547},
  {'name': 'Porsche Taycan', 'percentage': 0.43436132179491466},
  {'name': 'Renault Twizy', 'percentage': 0.21829440787641863},
  {'name': 'Mini Cooper S E', 'percentage': 0.25393431120318083},
  {'name': 'Peugeot iOn', 'percentage': 0.14590085424393284},
  {'name': 'Smart ED3', 'percentage': 0.7768385178255206},
  {'name': 'Volvo XC60', 'percentage': 0.4878211767850581},
  {'name': 'BMW X5', 'percentage': 0.6181295733235324},
  {'name': 'Kia Niro', 'percentage': 0.38841925891276036},
  {'name': 'Opel Corsa', 'percentage': 0.04093020147682849},
  {'name': 'Porsche Panamera', 'percentage': 0.12139842070678385},
  {'name': 'Porsche 918', 'percentage': 0.017819951663381114},
  {'name': 'Porsche Cayenne', 'percentage': 0.0651541982692372},
  {'name': 'BMW 530e', 'percentage': 1.4656910243130972},
  {'name': 'Kia Soul EV', 'percentage': 0.12084154721730318},
  {'name': 'MIA Electric', 'percentage': 0.04343613217949146},
  {'name': 'Kia Optima', 'percentage': 0.12613184536736946},
  {'name': 'Volkswagen e-Up', 'percentage': 15.84702482744515},
  {'name': 'Volvo XC40', 'percentage': 0.07684854154833105},
  {'name': 'Mitsubishi i-MiEV', 'percentage': 0.06515419826923718},
  {'name': 'Cadillac ELR', 'percentage': 0.020047445621303752},
  {'name': 'Volvo XC90', 'percentage': 0.8620401617160613},
  {'name': 'Volvo S90/V90', 'percentage': 0.27732299776136854},
  {'name': 'Mercedes-Benz GLE', 'percentage': 0.03341240936883959},
  {'name': 'Mercedes-Benz EQC', 'percentage': 0.10357846904340273},
  {'name': 'generic vehicle', 'percentage': 0.3060019824696226},
  {'name': 'Toyota Prius', 'percentage': 0.2505930702662969},
  {'name': 'Tesla Roadster', 'percentage': 0.09912348112755744},
  {'name': 'Mercedes-Benz B Class', 'percentage': 0.0857585173800216},
  {'name': 'Tesla Model Y', 'percentage': 0.007159802007608482},
  {'name': 'Honda Accord', 'percentage': 0.01893369864234243},
  {'name': 'BYD e6', 'percentage': 0.017819951663381114},
  {'name': 'BMW ActiveE', 'percentage': 0.05490772606279306},
  {'name': 'Kia e-Soul', 'percentage': 0.2649604062948979},
  {'name': 'BMW i4', 'percentage': 0.01536970830966621},
  {'name': 'BMW i8', 'percentage': 0.07495517168409681},
  {'name': 'Mercedes-Benz A Class', 'percentage': 0.0735073006114471},
  {'name': 'Renault Fluence', 'percentage': 0.011694343279093855},
  {'name': 'Land Rover Range Rover', 'percentage': 0.11360219185405458},
  {'name': 'Citroën C-Zero', 'percentage': 0.018854145286702338},
  {'name': 'Polestar 2', 'percentage': 0.0020047445621303754},
  {'name': 'Škoda Superb', 'percentage': 0.005011861405325938},
  {'name': 'Peugeot e-2008', 'percentage': 0.0004773201338405655},
  {'name': 'Peugeot e-208', 'percentage': 0.027207247628912235},
  {'name': 'Opel Grandland X', 'percentage': 0.11527281232249657},
  {'name': 'Mercedes-Benz S Class', 'percentage': 0.04677737311637543},
  {'name': 'Ford C-Max', 'percentage': 0.011137469789613195},
  {'name': 'Volkswagen ID.3', 'percentage': 0.13114370677269535},
  {'name': 'BMW 740e', 'percentage': 0.01893369864234243},
  {'name': 'Chrysler Pacifica', 'percentage': 0.002227493957922639},
  {'name': 'Mercedes-Benz SLS', 'percentage': 0.03007116843195563},
  {'name': 'Škoda Citigo', 'percentage': 0.016706204684419794},
  {'name': 'Kia XCeed', 'percentage': 0.0033412409368839585},
  {'name': 'Opel Mokka-e', 'percentage': 0.005011861405325938},
  {'name': 'DS DS3 Crossback', 'percentage': 0.0004773201338405655},
  {'name': 'Ford Focus Electric', 'percentage': 0.0004773201338405655},
  {'name': 'Fisker Karma', 'percentage': 0.0004773201338405655}]}

In [40]:
type(sessions_data)

dict

In [50]:
vehicleUsage_dict = sessions_data['vehicleUsage']
vehicleUsage_dict

[{'name': 'unknown', 'percentage': 23.45551137692504},
 {'name': 'Renault Kangoo', 'percentage': 0.12362591466470647},
 {'name': 'Renault ZOE', 'percentage': 8.151478701614026},
 {'name': 'Tesla Model S', 'percentage': 2.0810564801342992},
 {'name': 'Smart ED4 Forfour', 'percentage': 0.7181643019793307},
 {'name': 'Smart EQ Forfour', 'percentage': 0.09021350529586689},
 {'name': 'BMW i3', 'percentage': 2.162948704430214},
 {'name': 'Tesla Model 3', 'percentage': 4.941413292845005},
 {'name': 'Hyundai Kona', 'percentage': 0.6300987372857466},
 {'name': 'Smart ED4 Fortwo', 'percentage': 2.2692594696336896},
 {'name': 'Volkswagen e-Golf', 'percentage': 93.90682190274579},
 {'name': 'Audi A3', 'percentage': 0.5851944840885334},
 {'name': 'Citroën Berlingo', 'percentage': 1.1738893158252308},
 {'name': 'Jaguar I-PACE', 'percentage': 1.5695479301012405},
 {'name': 'Audi e-Tron', 'percentage': 1.7778902131870833},
 {'name': 'Audi Q7', 'percentage': 0.1843251250180984},
 {'name': 'Mitsubishi Outlander', 'percentage': 0.9522536670119284},
 {'name': 'Volkswagen Golf', 'percentage': 0.5900074621047592},
 {'name': 'Nissan e-NV200', 'percentage': 0.4460556650740085},
 {'name': 'Kia e-Niro', 'percentage': 0.4298824678723774},
 {'name': 'Tesla Model X', 'percentage': 0.7067245294382853},
 {'name': 'BMW 225xe', 'percentage': 0.7581832559279184},
 {'name': 'Mercedes-Benz C Class', 'percentage': 0.8951741343401606},
 {'name': 'Volvo V60', 'percentage': 0.7083430786193994},
 {'name': 'Honda e', 'percentage': 0.004454987915845278},
 {'name': 'BMW 330e', 'percentage': 0.5407241582857207},
 {'name': 'Fiat 500e', 'percentage': 0.05345985499014335},
 {'name': 'Smart EQ Fortwo', 'percentage': 0.6860681390401726},
 {'name': 'Nissan Leaf 40kWh / 62kWh', 'percentage': 1.110015926581799},
 {'name': 'Mercedes-Benz GLC', 'percentage': 0.21049817902368942},
 {'name': 'Mercedes-Benz E Class', 'percentage': 1.3504182119906003},
 {'name': 'Nissan Leaf 24kWh / 30kWh', 'percentage': 1.4927196384979817},
 {'name': 'Opel Ampera', 'percentage': 0.4162629333867932},
 {'name': 'Chevrolet Volt', 'percentage': 0.011694343279093855},
 {'name': 'Volkswagen Passat', 'percentage': 0.9134395847951262},
 {'name': 'BMW X3', 'percentage': 0.1687326673126399},
 {'name': 'Hyundai IONIQ', 'percentage': 1.8044574179092547},
 {'name': 'Porsche Taycan', 'percentage': 0.43436132179491466},
 {'name': 'Renault Twizy', 'percentage': 0.21829440787641863},
 {'name': 'Mini Cooper S E', 'percentage': 0.25393431120318083},
 {'name': 'Peugeot iOn', 'percentage': 0.14590085424393284},
 {'name': 'Smart ED3', 'percentage': 0.7768385178255206},
 {'name': 'Volvo XC60', 'percentage': 0.4878211767850581},
 {'name': 'BMW X5', 'percentage': 0.6181295733235324},
 {'name': 'Kia Niro', 'percentage': 0.38841925891276036},
 {'name': 'Opel Corsa', 'percentage': 0.04093020147682849},
 {'name': 'Porsche Panamera', 'percentage': 0.12139842070678385},
 {'name': 'Porsche 918', 'percentage': 0.017819951663381114},
 {'name': 'Porsche Cayenne', 'percentage': 0.0651541982692372},
 {'name': 'BMW 530e', 'percentage': 1.4656910243130972},
 {'name': 'Kia Soul EV', 'percentage': 0.12084154721730318},
 {'name': 'MIA Electric', 'percentage': 0.04343613217949146},
 {'name': 'Kia Optima', 'percentage': 0.12613184536736946},
 {'name': 'Volkswagen e-Up', 'percentage': 15.84702482744515},
 {'name': 'Volvo XC40', 'percentage': 0.07684854154833105},
 {'name': 'Mitsubishi i-MiEV', 'percentage': 0.06515419826923718},
 {'name': 'Cadillac ELR', 'percentage': 0.020047445621303752},
 {'name': 'Volvo XC90', 'percentage': 0.8620401617160613},
 {'name': 'Volvo S90/V90', 'percentage': 0.27732299776136854},
 {'name': 'Mercedes-Benz GLE', 'percentage': 0.03341240936883959},
 {'name': 'Mercedes-Benz EQC', 'percentage': 0.10357846904340273},
 {'name': 'generic vehicle', 'percentage': 0.3060019824696226},
 {'name': 'Toyota Prius', 'percentage': 0.2505930702662969},
 {'name': 'Tesla Roadster', 'percentage': 0.09912348112755744},
 {'name': 'Mercedes-Benz B Class', 'percentage': 0.0857585173800216},
 {'name': 'Tesla Model Y', 'percentage': 0.007159802007608482},
 {'name': 'Honda Accord', 'percentage': 0.01893369864234243},
 {'name': 'BYD e6', 'percentage': 0.017819951663381114},
 {'name': 'BMW ActiveE', 'percentage': 0.05490772606279306},
 {'name': 'Kia e-Soul', 'percentage': 0.2649604062948979},
 {'name': 'BMW i4', 'percentage': 0.01536970830966621},
 {'name': 'BMW i8', 'percentage': 0.07495517168409681},
 {'name': 'Mercedes-Benz A Class', 'percentage': 0.0735073006114471},
 {'name': 'Renault Fluence', 'percentage': 0.011694343279093855},
 {'name': 'Land Rover Range Rover', 'percentage': 0.11360219185405458},
 {'name': 'Citroën C-Zero', 'percentage': 0.018854145286702338},
 {'name': 'Polestar 2', 'percentage': 0.0020047445621303754},
 {'name': 'Škoda Superb', 'percentage': 0.005011861405325938},
 {'name': 'Peugeot e-2008', 'percentage': 0.0004773201338405655},
 {'name': 'Peugeot e-208', 'percentage': 0.027207247628912235},
 {'name': 'Opel Grandland X', 'percentage': 0.11527281232249657},
 {'name': 'Mercedes-Benz S Class', 'percentage': 0.04677737311637543},
 {'name': 'Ford C-Max', 'percentage': 0.011137469789613195},
 {'name': 'Volkswagen ID.3', 'percentage': 0.13114370677269535},
 {'name': 'BMW 740e', 'percentage': 0.01893369864234243},
 {'name': 'Chrysler Pacifica', 'percentage': 0.002227493957922639},
 {'name': 'Mercedes-Benz SLS', 'percentage': 0.03007116843195563},
 {'name': 'Škoda Citigo', 'percentage': 0.016706204684419794},
 {'name': 'Kia XCeed', 'percentage': 0.0033412409368839585},
 {'name': 'Opel Mokka-e', 'percentage': 0.005011861405325938},
 {'name': 'DS DS3 Crossback', 'percentage': 0.0004773201338405655},
 {'name': 'Ford Focus Electric', 'percentage': 0.0004773201338405655},
 {'name': 'Fisker Karma', 'percentage': 0.0004773201338405655}]

In [52]:
vehicleUsage_df=pd.DataFrame(vehicleUsage_dict)
vehicleUsage_df

                   name  percentage
0               unknown   23.455511
1        Renault Kangoo    0.123626
2           Renault ZOE    8.151479
3         Tesla Model S    2.081056
4     Smart ED4 Forfour    0.718164
..                  ...         ...
88            Kia XCeed    0.003341
89         Opel Mokka-e    0.005012
90     DS DS3 Crossback    0.000477
91  Ford Focus Electric    0.000477
92         Fisker Karma    0.000477

[93 rows x 2 columns]

In [62]:
vehicleUsage_df.sort_values("percentage", ascending=False).reset_index(drop=True)

                   name  percentage
0     Volkswagen e-Golf   93.906822
1               unknown   23.455511
2       Volkswagen e-Up   15.847025
3           Renault ZOE    8.151479
4         Tesla Model 3    4.941413
..                  ...         ...
88           Polestar 2    0.002005
89  Ford Focus Electric    0.000477
90     DS DS3 Crossback    0.000477
91       Peugeot e-2008    0.000477
92         Fisker Karma    0.000477

[93 rows x 2 columns]

In [64]:
#pickle
vehicleUsage_df.to_pickle('vehicleUsage_pickle.pkl')